<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Top Crypto Challenge</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel='stylesheet' href="/stylesheets/personal.css" />
	<link rel='stylesheet' href="/stylesheets/glyphs.css" />
	<link rel='stylesheet' href="/stylesheets/bootstrap.min.css" />
	<script src="/scripts/local-req.js"></script>
	<script src="/scripts/market-data.js"></script>
	<script src="/scripts/bootstrap.min.js"></script>
  </head>
  <body onload="initializeMarketTable()">
	
	<div class="container-fluid">
		<h1>Top Crypto Challenge</h1>
		<p>Submission by <a href="https://github.com/tjohnston-softdev">@tjohnston-softdev</a></p>
		
		<br>
		
		<h2>Cryptocurrency Prices by Market Cap (AUD)</h2>
		<br>
		
		<div id="tableContainer">
			
			<br>
			<div class="col-lg-3">
				<input type="text" class="form-control" id="txtSearch" name="txtSearch" maxlength="100" placeholder="Search" onkeyup="callSearch()" value="">
			</div>
			<br>
			
			<div id="tableDisplay">
			
				<table class="table table-responsive table-bordered">
					<thead>
						<tr>
							<th scope="col" class="col-1">
								<span>No.   </span>
								<span class="icon-arrow-circle-up" data-prop="rank" data-alpha="" onclick="handleDataSort(this)"></span>
							</th>
							
							<th scope="col" class="col-1">
							</th>
							
							<th scope="col" class="col-2">
								<span>Name   </span>
								<span class="icon-arrow-circle-up" data-prop="name" data-alpha="1" onclick="handleDataSort(this)"></span>
							</th>
							
							<th scope="col" class="col-1">
								<span>Symbol   </span>
								<span class="icon-arrow-circle-up" data-prop="symbol" data-alpha="" onclick="handleDataSort(this)"></span>
							</th>
							
							<th scope="col" class="col-1">
								<span>Price   </span>
								<span class="icon-arrow-circle-up" data-prop="price" data-alpha="" onclick="handleDataSort(this)"></span>
							</th>
							
							<th scope="col" class="col-1">
								<span>1h   </span>
								<span class="icon-arrow-circle-up" data-prop="hour" data-alpha="" onclick="handleDataSort(this)"></span>
							</th>
							
							<th scope="col" class="col-1">
								<span>24h   </span>
								<span class="icon-arrow-circle-up" data-prop="day" data-alpha="" onclick="handleDataSort(this)"></span>
							</th>
							
							<th scope="col" class="col-1">
								<span>7d   </span>
								<span class="icon-arrow-circle-up" data-prop="week" data-alpha="" onclick="handleDataSort(this)"></span>
							</th>
							
							<th scope="col" class="col-1">
								<span>24h Volume   </span>
								<span class="icon-arrow-circle-up" data-prop="volume" data-alpha="" onclick="handleDataSort(this)"></span>
							</th>
							
							<th scope="col" class="col-1">
								<span>Market Cap   </span>
								<span class="icon-arrow-circle-up" data-prop="marketCap" data-alpha="" onclick="handleDataSort(this)"></span>
							</th>
							
						</tr>
					</thead>
					<tbody id="marketRows">
					</tbody>
				</table>
			
			</div>
			
		</div>
		
		<br>
		
		<div id="loadContainer">
			<p>Retrieving CoinGecko Data. Please wait . . .</p>
			<div class="spinner-border text-primary" role="status" id="loadSpinner"></div>
		</div>
		
		<button type="button" class="btn btn-primary" id="btnRefresh" onclick="callMarketRequest()" disabled>
			<span class="icon-refresh"></span> Refresh
		</button>
		
		<button type="button" class="btn btn-primary" onclick="callStatusRequest()">
			<span class="icon-signal"></span> Status
		</button>
		
		<p id="lblStatus"></p>
		
	</div>
	
  </body>
</html>