<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Top Crypto Challenge</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel='stylesheet' href="/stylesheets/personal.css" />
	<link rel='stylesheet' href="/stylesheets/bootstrap.min.css" />
	<script src="/scripts/local-req.js"></script>
	<script src="/scripts/market-data.js"></script>
	<script src="/scripts/bootstrap.min.js"></script>
  </head>
  <body onload="initializeMarketTable()">
	
	<div class="container-fluid">
		<h1>Top Crypto Challenge</h1>
		<p>Submission by <a href="https://github.com/tjohnston-softdev">@tjohnston-softdev</a></p>
		
		<br><br>
		
		<h2>Cryptocurrency Prices by Market Cap (AUD)</h2>
		<br>
		
		<div id="tableContainer">
			<div id="tableDisplay"></div>
		</div>
		
		<br>
		
		<div id="loadContainer">
			<p>Retrieving CoinGecko Data. Please wait . . .</p>
			<div class="spinner-border text-primary" role="status" id="loadSpinner"></div>
		</div>
		
		<div class="btn-group" role="group" aria-label="Actions">
			<button type="button" class="btn btn-outline-primary" id="btnRefresh" onclick="callMarketRequest()" disabled>Refresh</button>
			<button type="button" class="btn btn-outline-primary" onclick="callStatusRequest()">Status</button>
		</div>
		
		<p id="txtStatus"></p>
		
	</div>
	
  </body>
</html>