<!DOCTYPE html>

<html>
  <head>
    <title>Top Crypto Challenge</title>
    <link rel='stylesheet' href="/stylesheets/style.css" />
	 <script src="/scripts/local-req.js"></script> 
  </head>
  <body>
    <h1>Top Crypto Challenge</h1>
    <p>Hello World!</p>
	<button id="btnGetStaus" type="button" onclick="callStatusRequest()">Status</button>
	<p id="txtStatus"></p>
  </body>
</html>