<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Top Crypto Challenge</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel='stylesheet' href="/stylesheets/personal.css" />
	<link rel='stylesheet' href="/stylesheets/glyphs.css" />
	<link rel='stylesheet' href="/stylesheets/bootstrap.min.css" />
	<script src="/scripts/local-req.js"></script>
	<script src="/scripts/market-data.js"></script>
	<script src="/scripts/bootstrap.min.js"></script>
  </head>
  <body onload="initializeMarketTable()">
	
	<div class="container-fluid">
		<h1>Top Crypto Challenge</h1>
		<p>Submission by <a href="https://github.com/tjohnston-softdev">@tjohnston-softdev</a></p>
		
		<br>
		
		<h2>Cryptocurrency Prices by Market Cap (AUD)</h2>
		<br>
		
		<div id="tableContainer">
			
			<br>
			<div class="col-lg-3">
				<input type="text" class="form-control" id="txtSearch" name="txtSearch" maxlength="100" placeholder="Search" onkeyup="callSearch()" value="">
			</div>
			<br>
			
			<div id="tableDisplay"></div>
			
		</div>
		
		<br>
		
		<div id="loadContainer">
			<p>Retrieving CoinGecko Data. Please wait . . .</p>
			<div class="spinner-border text-primary" role="status" id="loadSpinner"></div>
		</div>
		
		<button type="button" class="btn btn-primary" id="btnRefresh" onclick="callMarketRequest()" disabled>
			<span class="icon-refresh"></span> Refresh
		</button>
		
		<button type="button" class="btn btn-primary" onclick="callStatusRequest()">
			<span class="icon-signal"></span> Status
		</button>
		
		<p id="lblStatus"></p>
		
	</div>
	
  </body>
</html>