body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#loadContainer {
	display: none;
	height: 50vh;
}

#tableContainer {
	display: none;
	border: 2px solid black;
	height: 50vh;
	overflow: auto;
}


#loadSpinner {
	width: 3rem;
	height: 3rem;
}

.positiveChange {
	color: green;
}

.negativeChange {
	color: red;
}

/* Hide sort buttons by default */
span[data-prop] {
	display: none;
}

/* Display sort buttons on column hover. */
th:hover > span[data-prop] {
	display: inline;
}